.tweet {
    border: 0.0625rem solid #ccc;
    width: 35.25rem;
    min-height: 4.25rem;
    padding: 0.625rem;
    display: flex;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 0.3125rem;
    margin-right: 0.625rem;
}

/* .message {}
*/

/*.handle-name {} 
*/

.name {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

.handle-name {
    color: #08a0e9;
    font-size: 0.8125rem;
}

.time {
    padding-left: 0.3em;
    color: #08a0e9;
}

.time::before {
    content: "\00b7";
    padding-right: 0.3em;
}

.buttons {
    margin-top: 0.625rem;
    margin-left: 0.125rem;
    font-size: 1.4em;
    color: #08a0e9;
}

.buttons i {
    width: 5rem;
}